@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: 54 48 98;
    }

    * {
        border-color: #d5d5d8;
    }

    body {
        background-color: #f9f9f9;
        color: black;
    }
}
